<%@stages.each do |stage, klass|%>
<div class='row'>


	<div class='col-3'>
		<%= button_to "calculate #{stage}", calculate_stage_calculations_path(calculation: {stage: stage, klass: klass}),  class: "btn btn-primary btn-xl"%>
	</div>
	<div class='col-3'>
		<%= button_to "reset #{stage}", reset_stage_calculations_path(calculation: {stage: stage, klass: klass}), class: "btn btn-warning btn-xl"%>
	</div>

	<div class='col-1'>
		aantal
	</div>
		<div class='col-1'>
		<%= klass.send(stage).where.not(score: [nil,0]).map(&:participant_id).uniq.size%>
	</div>
	<div class='col-1'>
		score
	</div>
	<div class='col-1'>
		<%= klass.send(stage).map(&:score).compact.sum%>
	</div>
	<div class='col-2'>
		<%= nldt klass.send(stage).order(:updated_at).last.updated_at %>
	</div>

</div>	
<div class='row'>&nbsp;</div>
<%end%>

<p>

</p>