<p id="notice"><%= notice %></p>

<div class='row'>
  <div class='col-12'>
    <h1>Teams</h1>
  </div>
</div>

<div class='row'>

  <div class='col-8'>

    <div class='row'>
      <div class='col-2'>
        naam
      </div>

      <div class='col-1 text-center'>
        poule
      </div>


      <div class='col-1 text-center'>
        poule-rank
      </div>


      <div class='col-1 text-center'>
        8e finale
      </div>
      <div class='col-1 text-center'>
        kwartfinale
      </div>
      <div class='col-1 text-center'>
        halve finale
      </div>
      <div class='col-1 text-center'>
        finale
      </div>
      <div class='col-1 text-center'>
        winnaar
      </div>
      <div class='col-1 text-center'>
        rood
      </div>

      <div class='col-2 text-center'>
        &nbsp;
      </div>
    </div>

    <% @teams.sort_by{|x| [x.poule, x.poule_rank, x.name] }.each do |team| %>
      <div class='row'>
        <div class='col-2'>
          <%=team.name%>
        </div>

        <div class='col-1 text-center'>
          <%=team.poule%>
        </div>


        <div class='col-1 text-center'>
          <%=team.poule_rank%>
        </div>


        <div class='col-1 text-center'>
          <%=iconCheck?(team.fin16, size: (team.fin16 ? 1.2 : 0.7))%>
        </div>
        <div class='col-1 text-center'>
          <%=iconCheck?(team.fin8, size: (team.fin8 ? 1.2 : 0.7))%>
        </div>
        <div class='col-1 text-center'>
          <%=iconCheck?(team.fin4, size: (team.fin4 ? 1.2 : 0.7))%>
        </div>
        <div class='col-1 text-center'>
          <%=iconCheck?(team.fin2, size: (team.fin2 ? 1.2 : 0.7))%>
        </div>
        <div class='col-1 text-center'>
          <%=iconCheck?(team.winner, size: (team.winner ? 1.2 : 0.7))%>
        </div>
        <div class='col-1 text-center'>
          <%=iconCheck?(team.red, size: (team.red ? 1.2 : 0.7))%>
        </div>

        <div class='col-2'>
          &nbsp;
        </div>
      </div>

    <%end%>

  </div>

  <div class='col-4'>

  </div>
</div>









