<p><%=link_to "pdf", format: :pdf%></p>
<table>
	<%prev_rank ||= 0 %>

		<tr>
			<td> rank </td>
			<td> name </td>
			<td> games </td>
			<td> eightfinal</td>
			<td> quarterfinal</td>
			<td> semifinal</td>
			<td> finale</td>
			<td> winner</td>
			<td> redcard</td>
			<td> poule rank</td>
			<td> poule bonus</td>
			<td> topplayer</td>
			<td> topscorer</td>
			<td> total </td>
			<td>  </td>
		</tr>
	<%@ranking.sort_by{|k,v| v[1]}.reverse.each do |part,v|%>

		<%rank = v[0]%>
		<%score =  v[1]%>

		<tr>
			<td> <%=rank unless (rank == prev_rank) %> </td>
			<td> <%=part.name%> </td>
			<td> <%=part.games.map(&:score).compact.sum %> </td>
			<td> <%=part.teams.select{|x| x.stage == 'eightfinal'}.map(&:score).compact.sum %> </td>
			<td> <%=part.teams.select{|x| x.stage == 'quarterfinal'}.map(&:score).compact.sum %> </td>
			<td> <%=part.teams.select{|x| x.stage == 'semifinal'}.map(&:score).compact.sum %> </td>
			<td> <%=part.teams.select{|x| x.stage == 'finale'}.map(&:score).compact.sum %> </td>
			<td> <%=part.teams.select{|x| x.stage == 'winner'}.map(&:score).compact.sum %> </td>
			<td> <%=part.teams.select{|x| x.stage == 'redcard'}.map(&:score).compact.sum %> </td>
			<td> <%=part.teams.select{|x| x.stage == 'poule_score'}.map(&:score).compact.sum %> </td>
			<td> <%=part.teams.select{|x| x.stage == 'poule_bonus'}.map(&:score).compact.sum %> </td>
			<td> <%=part.players.select{|x| x.stage == 'topplayer'}.map(&:score).compact.sum %> </td>
			<td> <%=part.players.select{|x| x.stage == 'topscorer'}.map(&:score).compact.sum %> </td>

			<td> <%=score%> </td>
			<td> <%=link_to 'show', participant_path(part)%> </td>
		</tr>
		<%prev_rank = rank%>
	<%end%>
</table>