<p id="notice"><%= notice %></p>
<p><%=link_to "pdf", format: :pdf%></p>
<p>
  <strong>Name:</strong>
  <%= @participant.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @participant.email %>
</p>

<div class='row t-area'>
  <div class='col-12'>poulfase</div>
</div>
<%@participant.games.group_by{|x| x.game.date.to_date}.sort.each do |date, games|%>

  <div class='row'>
    <div class='col-12'><%=nld date%></div>
  </div>

  <%games.sort_by{|x| x.game.date}.each do |game|%>
    <%=render 'games/game', game: game%>
  <%end%>

<%end%>

<div class='row t-area'>
  <div class='col-11'>totaal poulfase</div>
  <div class='col-1 text-center'><%=@participant.games.map(&:score).compact.sum%> </div>
</div>

<div class='row t-area'>
  <div class='col-12'> voorspellingen knockout</div>
</div>

<div class='row'>
<%@participant.teams.knockout.group_by{|x| x.stage_before_type_cast}.sort.each do |stage, teams|%>

    <div class='col-3'>

        <div class='row'>
          <div class='col-8'><%= Bet::Team.stages.invert[stage]%></div>
        </div>

        <%teams.each do |team|%>
          <%=render 'teams/team', team: team%>
        <%end%>

        <div class='row'>
          <div class='col-8'> <%= Bet::Team.stages.invert[stage]%></div>
          <div class='col-4 text-center'><%=@participant.teams.send(Bet::Team.stages.invert[stage]).map(&:score).compact.sum%> </div>
        </div>

    </div>

<%end%>

</div>

<div class='row t-area'>
  <div class='col-11'> totaal voorspellingen knockout</div>
  <div class='col-1 text-center'><%=@participant.teams.knockout.map(&:score).compact.sum%> </div>
</div>



<div class='row t-area'>
  <div class='col-12'> voorspellingen poule-stand</div>
</div>

<div class='row'>


  <%@participant.teams.select{|x| x.stage=='poule_score'}.group_by{|x| x.poule}.sort.each do |poule, teams|%>

    <div class='col-4'>

        <div class='row'>
          <div class='col-12'>
            <%=poule.upcase%>
          </div>
        </div>

        <%teams.sort_by{|x| x.team.poule_rank}.each do |team|%>


            <div class='row'>
              <div class='col-2'> <%=team.team.poule_rank%> </div>
              <div class='col-4'> <%=team.team.name%></div>
              <div class='col-2 text-center'> (<%=team.poule_rank%>) </div>
              <div class='col-2'> &nbsp;</div>
              <div class='col-2 text-center'> <%=team.score%></div>
            </div>

        <%end%>

        <div class='row'>
          <div class='col-10'> bonus </div>
          <div class='col-2 text-center'> <%=@participant.teams.select{|x| x.stage=='poule_bonus'}.group_by{|x| x.poule}[poule].first.score || 0%></div>
        </div>
    </div>
  <%end%>


</div>

<div class='row t-area'>
  <div class='col-11'> totaal voorspellingen poule-stand</div>
  <div class='col-1 text-center'><%=@participant.teams.pouleranking.map(&:score).compact.sum%> </div>
</div>



<% redcard = @participant.teams.redcard.first%>


  <div class='row t-area'>
    <div class='col-5'> eerste rode kaart </div>
    <div class='col-6'> <%=redcard ? redcard.team.name : "n.v.t."%>  </div>
    <div class='col-1 text-center'><%=redcard ? redcard.score : 0 %> </div>
  </div>


<%@participant.players.group_by{|x| x.stage_before_type_cast}.sort.each do |stage, players|%>


    <%players.each do |player|%>

      <div class='row t-area'>
        <div class='col-5'> <%= Bet::Player.stages.invert[stage]%></div>
        <div class='col-6'> <%=player.player.name%> </div>
        <div class='col-1 text-center'><%=player.score || "-"%>  </div>
      </div>

    <%end%>

<%end%>

<div class='row t-area'>
  <div class='col-11'> totaal score </div>

  <div class='col-1 text-center'><%=@participant.score_total %> </div>
</div>




<%= link_to 'Back', participants_path %>
