<div class='row'>
   <div class='col-1'><%=game.nr %></div>
  <div class='col-2'><%=nldt game.date%></div>
  <div class='col-2'><%=game.home.name%></div>
  <div class='col-1 text-center'>-</div>
  <div class='col-2'><%=game.away.name%></div>
  <div class='col-2 text-center'><%=game.score_home%> - <%=game.score_away%> </div>
  <div class='col-1 text-center'><%=link_to editIcon, edit_game_path(game)%></div>
  <div class='col-1 text-center'><%= game.score %></div>
</div>


