<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table>
  <thead>
    <tr>
      <th>Nr</th>
      <th>Date</th>
      <th>Home</th>
      <th>Away</th>
      <th>Score home</th>
      <th>Score away</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.nr %></td>
        <td><%= dayt game.date %></td>
        <td><%= game.home.name %></td>
        <td><%= game.away.name %></td>
        <td><%= game.score_home %></td>
        <td><%= game.score_away %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
