<p id="notice"><%= notice %></p>

<h1>Bet Games</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>Home</th>
      <th>Away</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bet_games.each do |bet_game| %>
      <tr>
        <td><%= bet_game.game_id %></td>
        <td><%= bet_game.home %></td>
        <td><%= bet_game.away %></td>
        <td><%= link_to 'Show', bet_game %></td>
        <td><%= link_to 'Edit', edit_bet_game_path(bet_game) %></td>
        <td><%= link_to 'Destroy', bet_game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bet Game', new_bet_game_path %>
