<!DOCTYPE html>
<html>
  <head>
    <title>SoccerBet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%#=link_to 'menu', navigation_path %>
    <%#=link_to( 'logout', destroy_user_session_path, method: :delete ) if current_user %>


    <%=render 'navigation/menu'%>
    <%= yield %>
  </body>
</html>
